<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <style type="text/css">
      .completed { text-decoration:line-through; }
    </style>
    <title>ToDo App</title>
  </head>
  <body>
    <div class="container">
      <h2> A Simple ToDo List App </h2>
      <form action ="/addtodo" method="POST">
        <input type="text" name="todo" placeholder="add new task">
        <button> Add Task </button>
        <h2> Added Task </h2>
        <% for(let item in todos){ %>
          <li><input type="checkbox" name="check[]" value="<%= item %>" /><%= todos[item] %></li>
        <% } %>
        <button formaction="/removetodo" type="submit"> Remove </button>
      </form>
      <h2> Completed task </h2>
      <% for(let item of completed){ %>
        <li class="completed"><%= item %></li>
      <% } %>
    </div>
  </body>
</html>